<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block baseCSS %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    {% endblock baseCSS %}
  </head>
  <body>
    <form>
      <input type="button" value="click-me" onclick='display()'/>
    </form>
    
    <script src="{% static "home/js/scripts.js" %}" async defer></script>
  </body>
</html>
