<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>instagram</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Welcome to instagram</h1>
    {{details}}
    <ul>
      {% for key,value in details.items %}
      <li>{{ key }} = {{value}}</li>
      {% endfor %}
    </ul>

    {{desc.desc|truncatewords:3}}<br />
    {{desc.desc|upper|truncatewords:3}}<br />
    {{desc.desc|length}}<br />
    {{desc.desc|slice:"0:5"}}
  </body>
</html>
